Options +FollowSymLinks -MultiViews -Indexes
RewriteEngine on

# Evitar redirecciones si el archivo o carpeta existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Páginas y vistas
RewriteRule ^login$ index.php [L]
RewriteRule ^home$ views/home.php [L]
RewriteRule ^products$ views/products/index.php [L]
RewriteRule ^products/create$ views/products/create.php [L]
RewriteRule ^products/edit$ views/products/edit.php [L]
RewriteRule ^products/delete$ views/products/delete.php [L]
RewriteRule ^products/([a-zA-Z0-9_-]+)$ views/products/details.php?slug=$1 [L]

# Controladores
RewriteRule ^auth$ app/AuthController.php [L]
RewriteRule ^products$ app/ProductController.php [L]